.footer{
    padding: 2rem 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.navbar__title{
    font-size: 1.5rem;
}

.footer__column{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.footer__column:nth-child(1){
    text-align: center;
    justify-content: left;
}
.footer__column:nth-child(2){
    text-align: center;
}

.footer__column:nth-child(3){
    justify-content: right;
}

.footer__icon{
    width: 2rem;
    height: auto;
}


/* --- RESPONSIVE DESIGN --- */
@media (max-width: 576px) {
    .footer{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .footer__column:nth-child(3), .footer__column:nth-child(1){
        justify-content: center;
    }

    .footer__column:nth-child(2){
        order: 3;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .footer{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .footer__column:nth-child(3), .footer__column:nth-child(1){
        justify-content: center;
    }

    .footer__column:nth-child(2){
        order: 3;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .footer__column:nth-child(3), .footer__column:nth-child(1){
        justify-content: center;
    }

    .footer__column:nth-child(2){
        order: 3;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para dispositivos grandes */
}

@media (min-width: 1200px) {
    /* Estilos para dispositivos extra grandes */
}