.footer{
    padding: 2rem 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.navbar__title{
    font-size: 1.5rem;
}

.footer__column{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.footer__column:nth-child(1){
    text-align: center;
    justify-content: left;
}
.footer__column:nth-child(2){
    text-align: center;
}

.footer__column:nth-child(3){
    justify-content: right;
}

.footer__icon{
    width: 2rem;
    height: auto;
}